# Manually activate the poetry environment
export VIRTUAL_ENV=$(poetry env info --path)

# Add the virtual environment's bin directory to the PATH
if [[ -d "$VIRTUAL_ENV" ]]; then
PATH_add "$VIRTUAL_ENV/bin"
else
echo "Poetry environment not found. Please run 'poetry install' first."
fi
